
h1,h2,h3,h4,h5,h6 { 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


h1 { 
    font-size: 55px;
    text-align: center;
    
}


.name {
    color: #630A10
}

h2 {
    font-size: 30px;
    text-align: center;
}

.grid-container {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 1px;
}


.boring {
    background-color: #FACE7F;
    margin-left: 30px;
    margin-right: 30px;
}


.mood {
    border: 1px solid black;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #FACE7F;

}


.button {
    background-color:#911f27;
    
}

.button:hover {
    background-color: #630A10;
}

#or {
    font-size: 20px;
    text-align: center;
    margin: 30px
}

.cell {
    display:flex;
    justify-content: center;
}

#search-title {
    justify-content: center;
}







/* appended elements  */



.button-container {
    border: 5px solid black
}



.new-title {
    text-align: center;
    font-size: 50px;
    background-color: #911F27;
}


.movie-info-container {
    border: 10px solid black;
    font-size: 25px;
    
}

.tag-line {
    font-size:15px;
    text-align: center;
    background-color:#FACE7F ;
}