body {
    background-color:#FCF0C8;
}

h1,h2,h3,h4,h5,h6 { 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


h1 { 
    font-size: 50px;
    text-align: center;
}




h2 {
    font-size: 30px;
    text-align: center;
}

.grid-container {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 1px;
}


.or {
    border: 1px solid black;
    text-align: center;
}


/* .button {
    
} */


/* add a div container for all of these called movieInfoContainer
add classes: movie-info-container, grid-x, cell-large-6, grid-margin-x */


.new-movie-title {
    text-align: center;
    font-size: 50px;
}

.movie-overview {
/* change to p  */
}

.movie-release {
    /* change to p  */
}

.movie-run-time {
    /* change to p */
}

.movie-tag-line {
    font-size: 15px;
}

.movie-info-container {

}